

<section class='info_main_container'>

  <div class='info_input_form'>
    <form ng-submit="showSpecificMovie(searchByName)">
      <input type='text' ng-model='searchByName' placeholder='Get Info On A Movie'>
      <span><button ng-click='showSpecificMovie(searchByName)'>Submit</button></span>
    </form>
  </div>

  <div class='movie_stats' ng-show='movieHasBeenSearched'>
    <h4>{{ title }}</h4>
    <br>
    Rating: {{ rating }}<br>
    Runtime: {{ runtime }}<br>
    Box Office Revenue: {{ revenue }}<br>
    Reviews: {{ reviewRating }} / 10
  </div>




</section>










